<ion-nav [root]="rootPage">
    <ion-list-header *ngIf="auth.getEmail()"></ion-list-header>
</ion-nav>

<!--
<ion-item (click)="logout()" *ngIf="auth.authenticated">
    <ion-icon name="log-out" item-left></ion-icon>
    Log out
    <ion-icon name="user" item-right></ion-icon>
    {{auth.getEmail()}}
</ion-item>
<ion-item (click)="login()" *ngIf="!auth.authenticated">
    <ion-icon name="log-in" item-right></ion-icon>
    Log in
</ion-item>

-->

<ion-buttons end>
    <button (click)="logout()" *ngIf="auth.authenticated" color="danger">
        <ion-icon name="log-out"></ion-icon> Se deconnecter</button>
</ion-buttons>

<ion-list *ngIf="auth.authenticated">
    <ion-tabs class="tabs-icon-text" [color]="isAndroid ? 'royal' : 'primary'">
        <ion-tab tabIcon="home" tabTitle="Accueil" [root]="rootPage"></ion-tab>
        <ion-tab tabIcon="map" (click)="map(this)" [root]="rootPage"></ion-tab>
        <ion-tab tabIcon="camera" (click)="photo(this)"  tabTitle="photo" [root]="rootPage"></ion-tab>
        <ion-tab tabIcon="log-out" (click)="logout()" tabTitle="Logout"></ion-tab>
    </ion-tabs>
</ion-list>
